.home-page {
    font-family: 'Arial', sans-serif;
    background: url('/src/assets/home.jpg') center/cover no-repeat;

    color: white;
    min-height: 54vh;
    /* background: url('https://images.pexels.com/photos/963580/pexels-photo-963580.jpeg?auto=compress&cs=tinysrgb&w=1600') center/cover no-repeat; */
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color:black;
    align-items: center;
    align-content: center;
    background: rgba(0, 0, 0, 0.1);
    /* background: url('https://images.pexels.com/photos/2440471/pexels-photo-2440471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center/cover no-repeat; */
}

.steps-section {
    display: flex;
    gap: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.icon {
    font-size: 2rem;
    color: black;
    padding: 10px;
    border-radius: 50%;
}

.actions-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}


.home-container {
    /* background-color: #f4f4f4; */
    padding: 20px;
    border-radius: 10px; 
    text-align: center; 
    margin: 20px 0;
}

.home-content{
    color: black;
    font-size: larger;
    font-weight: 900;
}

.start-button {
    background-color: #007BFF; 
    color: white; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    margin-top: 10px;
    transition: background-color 0.3s ease; 
}

.start-button:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 1);
}
.home-footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    color: white;
}
