
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: beige;
    border-radius: 5px; 
}


.navbar {
    display: flex;
    justify-content: space-around;  
    padding: 10px 0; 
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    text-decoration: none;  
    color: inherit;  
}

.nav-item a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3S ease;  
} 


.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
